extends layout

block content
  
  .title.contact: span
    span
      .fr Comment nous contacter
      .en Contact us
  
  .description
    .contact-info
      p email: 
        a(href='mailto:info@evolution-coaching.org', style='padding-left: 50px ') info@evolution-coaching.org
      span Phone:
        ul.phone-list
          li UK: +44 (0) 7971 534 005
          li France: +33 (0) 6971 638 895

    .contact-img
      img(src='img/header icons/contact-icon.svg')
  
  .contact-street
    img(src='img/street.jpg')
  
  .footer
