doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Evolution Coaching official website.')
    meta(name='author', content= "Andrei Constantinescu")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css?family=Nunito:400,700", rel="stylesheet")
    title Evolution Coaching
    != css()

  body

    #navbar
    .home-page-banner.home-page-footer(style='margin-bottom: 30px')
      .en
        h2 "Evolution has provided me with essential business mangement <br> skills through a truly personal coaching approach" <br>
        h3 - a client
      .fr
        h2 "Evolution m'a fourni une gestion d'entreprise essentielle Compétences <br> grâce à une approche de coaching vraiment personnelle"
        h3 - un client

    #content
      block content
    #footer
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
    script(src='js/templates.js')

    != js()
