doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Evolution Coaching official website.')
    meta(name='author', content= "Andrei Constantinescu")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css?family=Nunito:400,700", rel="stylesheet")
    title Evolution Coaching
    != css()

  body

    #navbar
    .home-page-banner.home-page-footer(style='margin-bottom: 30px')
      img(src='img/arrow-EC.svg')
      .en
        h2 "Evolution Coaching brought me to the essence of my challenges <br> thanks to their dynamic & energetic style"
      .fr
        h2 "Evolution Coaching m’a guidé vers l’essence de mes enjeux <br> et ce avec dynamisme et énergie"

    #content
      block content
    #footer
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
    script(src='js/templates.js')

    != js()
