#navbar {
  border-bottom: 4px solid rgba(0,0,0,0.1);
  text-align: center;
  padding-bottom: 10px;
  max-width: 1000px;
  margin: 0 auto;
}
#navbar .logo {
  width: 80px;
  display: inline-block;
  padding: 0 10px;
}
#navbar .logotype {
  width: 300px;
  display: inline-block;
  padding: 0 10px;
  margin-left: 25px;
}
#navbar .menu {
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px;
}
#navbar .menu ul {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
}
#navbar .menu .link {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
  font-weight: bold;
}
#navbar .menu .link a {
  color: #8e8e8d;
  text-decoration: none;
  padding-bottom: 5px;
  font-size: 20px;
}
#navbar .menu .link a:hover {
  border-bottom: 4px solid;
}
#navbar .menu .link a.active {
  border-bottom: 4px solid;
}
#navbar .menu .switch {
  display: inline-block;
  font-size: 20px;
  color: #8e8e8d;
  vertical-align: middle;
  font-weight: bold;
  cursor: pointer;
  margin-left: 40px;
}
@media screen and (max-width: 963px) {
  #navbar .logo {
    width: 60px;
  }
  #navbar .logotype {
    width: 270px;
  }
  #navbar .menu {
    margin-left: 20px;
  }
  #navbar .menu a,
  #navbar .menu .switch {
    font-size: 20px;
  }
}
@media screen and (max-width: 852px) {
  #navbar {
    text-align: center;
  }
  #navbar .logo {
    width: 45px;
  }
  #navbar .logotype {
    width: 250px;
    margin-left: 15px;
  }
  #navbar .menu {
    padding: 0;
  }
  #navbar .menu .link a,
  #navbar .menu .switch {
    font-size: 15px;
  }
}
.who-page .title {
  text-align: center;
  font-size: 40px;
  margin: 50px 0;
}
.who-page .title span {
  padding-bottom: 10px;
  border-bottom: 3px solid;
}
.who-page .description {
  width: 55%;
  padding-top: 20px;
  color: #80807f;
}
.who-page .description .text {
  text-indent: 40px;
}
.who-page .description .list li {
  margin: 10px 0;
}
.who-page .footer {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #8baf1a;
  margin-top: 250px;
  height: 150px;
}
@media screen and (max-width: 852px) {
  .who-page .description {
    width: 100%;
  }
}
.what-page .title,
.how-page .title {
  text-align: center;
  font-size: 40px;
  margin: 50px 0;
}
.what-page .title span,
.how-page .title span {
  padding-bottom: 10px;
  border-bottom: 3px solid;
}
.what-page .description .mini-title,
.how-page .description .mini-title {
  font-size: 40px;
}
.what-page .description .item,
.how-page .description .item {
  margin: 40px 0;
}
.what-page .description .mini-desc .mini-desc-content,
.how-page .description .mini-desc .mini-desc-content {
  display: inline-block;
  vertical-align: middle;
  width: 45%;
}
.what-page .description .mini-desc .mini-desc-content ul,
.how-page .description .mini-desc .mini-desc-content ul {
  padding-left: 15px;
}
.what-page .description .mini-desc .mini-desc-content ul li,
.how-page .description .mini-desc .mini-desc-content ul li {
  margin-bottom: 10px;
}
.what-page .description .mini-desc .mini-desc-img,
.how-page .description .mini-desc .mini-desc-img {
  display: inline-block;
  width: 45%;
  vertical-align: middle;
  text-align: center;
}
.what-page .description .mini-desc .mini-desc-img img,
.how-page .description .mini-desc .mini-desc-img img {
  width: 250px;
}
.what-page .description .mini-desc .mini-desc-img.second,
.how-page .description .mini-desc .mini-desc-img.second {
  text-align: left;
  padding-left: 20px;
}
.what-page .description .mini-desc .mini-desc-img.second img,
.how-page .description .mini-desc .mini-desc-img.second img {
  width: 320px;
}
.what-page .description .mini-desc .mini-desc-img.second-mobile,
.how-page .description .mini-desc .mini-desc-img.second-mobile {
  display: none;
}
.what-page .footer,
.how-page .footer {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #5377b9;
  margin-top: 250px;
  height: 150px;
}
@media screen and (max-width: 852px) {
  .what-page .second,
  .how-page .second {
    display: none !important;
  }
  .what-page .description .mini-desc .mini-desc-img.second-mobile,
  .how-page .description .mini-desc .mini-desc-img.second-mobile {
    display: block !important;
  }
  .what-page .description .mini-desc .mini-desc-content,
  .how-page .description .mini-desc .mini-desc-content,
  .what-page .description .mini-desc .mini-desc-img,
  .how-page .description .mini-desc .mini-desc-img {
    width: 100% !important;
  }
}
.how-page .description .item .mini-desc .mini-desc-img img {
  width: 200px;
}
.how-page .description .item .mini-desc .mini-desc-img.second {
  padding-left: 90px;
}
.how-page .footer {
  background-color: #eb6477;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  font-size: 16px;
  font-size: 100%;
}
body {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: auto;
}
body {
  padding: 30px 30px 0 30px;
}
#content {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
}
.who {
  color: #8baf1a !important;
  border-color: #8baf1a !important;
}
.what {
  color: #5377b9 !important;
  border-color: #5377b9 !important;
}
.how {
  color: #eb6477 !important;
  border-color: #eb6477 !important;
}
.contact {
  color: #c078af !important;
  border-color: #c078af !important;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
@media screen and (max-width: 884px) {
  #content {
    padding: 0;
  }
}

 /*# sourceMappingURL=master.css.map */