.who-page .title {
  text-align: center;
  font-size: 40px;
  margin: 50px 0;
}
.who-page .title span {
  padding-bottom: 10px;
  border-bottom: 3px solid;
}
.who-page .description {
  width: 49%;
  padding-top: 20px;
  color: #80807f;
  vertical-align: middle;
  display: inline-block;
}
.who-page .description .text {
  text-indent: 40px;
}
.who-page .description .list li {
  margin: 10px 0;
}
.who-page .who-image {
  width: 50%;
  display: inline-block;
  text-align: center;
}
@media screen and (max-width: 852px) {
  .who-page .description {
    width: 100%;
  }
}
.what-page .title,
.how-page .title {
  text-align: center;
  font-size: 40px;
  margin: 50px 0;
}
.what-page .title span,
.how-page .title span {
  padding-bottom: 10px;
  border-bottom: 3px solid;
}
.what-page .description .mini-title,
.how-page .description .mini-title {
  font-size: 40px;
  text-align: center;
}
.what-page .description .item,
.how-page .description .item {
  margin: 40px 0;
}
.what-page .description .mini-desc,
.how-page .description .mini-desc {
  padding: 0 30px;
}
.what-page .description .mini-desc .mini-desc-content,
.how-page .description .mini-desc .mini-desc-content {
  display: inline-block;
  vertical-align: middle;
  width: 49%;
}
.what-page .description .mini-desc .mini-desc-content ul,
.how-page .description .mini-desc .mini-desc-content ul {
  padding-left: 15px;
}
.what-page .description .mini-desc .mini-desc-content ul li,
.how-page .description .mini-desc .mini-desc-content ul li {
  margin-bottom: 10px;
}
.what-page .description .mini-desc .mini-desc-img,
.how-page .description .mini-desc .mini-desc-img {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  text-align: center;
}
.what-page .description .mini-desc .mini-desc-img img,
.how-page .description .mini-desc .mini-desc-img img {
  width: 250px;
}
.what-page .description .mini-desc .mini-desc-img.second,
.how-page .description .mini-desc .mini-desc-img.second {
  text-align: left;
  padding-left: 20px;
}
.what-page .description .mini-desc .mini-desc-img.second img,
.how-page .description .mini-desc .mini-desc-img.second img {
  width: 320px;
}
.what-page .description .mini-desc .mini-desc-img.second-mobile,
.how-page .description .mini-desc .mini-desc-img.second-mobile {
  display: none;
}
@media screen and (max-width: 852px) {
  .what-page .second,
  .how-page .second {
    display: none !important;
  }
  .what-page .description .mini-desc .mini-desc-img.second-mobile,
  .how-page .description .mini-desc .mini-desc-img.second-mobile {
    display: block !important;
  }
  .what-page .description .mini-desc .mini-desc-content,
  .how-page .description .mini-desc .mini-desc-content,
  .what-page .description .mini-desc .mini-desc-img,
  .how-page .description .mini-desc .mini-desc-img {
    width: 100% !important;
  }
  .what-page .mini-desc,
  .how-page .mini-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .what-page .mini-desc-content,
  .how-page .mini-desc-content {
    margin-top: 15px;
  }
}
.how-page .description .item .mini-desc .mini-desc-img img {
  width: 200px;
}
.how-page .description .item .mini-desc .mini-desc-img.second {
  padding-left: 90px;
}
.contact-page .phone-list {
  margin-top: 0;
  vertical-align: top;
  display: inline-block;
}
.contact-page .title {
  text-align: center;
  font-size: 40px;
  margin: 50px 0;
}
.contact-page .title span {
  padding-bottom: 10px;
  border-bottom: 3px solid;
}
.contact-page .description {
  text-align: center;
}
.contact-page .description .contact-info,
.contact-page .description .contact-img {
  width: 45%;
  display: inline-block;
  vertical-align: middle;
}
.contact-page .description .contact-info {
  text-align: left;
  padding-left: 50px;
  font-size: 20px;
}
.contact-page .description .contact-info ul {
  list-style: none;
}
.contact-page .description .contact-img {
  width: 200px;
}
.contact-page .contact-street {
  margin-top: 20px;
}
.contact-page .contact-street img {
  width: 100%;
}
@media screen and (max-width: 852px) {
  .contact-page .description .contact-info,
  .contact-page .description .contact-img {
    width: 100%;
  }
  .contact-page .description .contact-img {
    width: 200px;
  }
}

 /*# sourceMappingURL=pages.css.map */