.navbar
  a(href='/')
    .logo: img(src= logo)
    .logotype: img(src= logotype)
  .menu
    ul
      each item in menuItems
        li.link(class= className + ' ' + item.id)
          a(href= item.url) 
            .fr #{item.name.fr}
            .en #{item.name.en}
    .switch(class= className)
      span.lang-en Eng
      span /
      span.lang-fr Fr
