@import '_settings'
@import 'navbar'
@import 'pages'

normalize-css()
base()

body
  padding 0 30px 0 30px

#content
  max-width 1000px
  margin 0 auto

.who
  color #8baf1a !important
  border-color #8baf1a !important

.what
  color #5377b9 !important
  border-color #5377b9 !important

.how
  color #eb6477 !important
  border-color #eb6477 !important

.contact
  color #c078af !important
  border-color #c078af !important

.left
  text-align left

.center
  text-align center

.right
  text-align right

.home-video
  height 900px
  position absolute
  top 0
  z-index -1
  max-width 1000px
  width 100%
  background #8baf1a

  video
    width 100%

@media screen and (max-width: 884px)
  #content
    padding 0
