@import '_settings'
@import 'navbar'
@import 'pages'

normalize-css()
base()

@font-face
  font-family 'AvenirLTStd-Medium'
  src url('webfonts/31A217_0_0.eot')
  src url('webfonts/31A217_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/31A217_0_0.woff2') format('woff2'),url('webfonts/31A217_0_0.woff') format('woff'),url('webfonts/31A217_0_0.ttf') format('truetype')



body
  font-family 'AvenirLTStd-Medium', sans-serif !important
  padding 0 30px 0 30px

#content
  max-width 1000px
  margin 0 auto
  padding-top 122px

.who, .who a
  color #8baf1a !important

  &:hover, &.active
    border-color #8baf1a !important

.what, .what a
  color #5377b9 !important

  &:hover, &.active
    border-color #5377b9 !important

.how, .how a
  color #eb6477 !important

  &:hover, &.active
    border-color #eb6477 !important

.contact, .contact a
  color #c078af !important
  &:hover, &.active
    border-color #c078af !important

.left
  text-align left

.center
  text-align center

.right
  text-align right

.bold
  font-weight bold

.home-video
  top 0
  z-index -1
  max-width 1000px
  width 100%

  video
    width 100%

.en, .fr
  display none

.show
  display block

.footer
  background-image url("/img/Logos/footer.svg")
  background-repeat no-repeat
  background-size contain
  background-position center

@media screen and (max-width: 884px)
  #content
    padding 0
