.who-page
  .title
    text-align center
    font-size 40px
    margin 50px 0

    span
      padding-bottom 10px
      border-bottom 3px solid

  .description
    width 49%
    padding-top 20px
    color #80807F
    vertical-align middle
    display inline-block

    .text
      text-indent 40px

    .list
      li
        margin 10px 0

  .who-image
    width 50%
    display inline-block
    text-align center

  @media screen and (max-width: 852px)
      .description
        width 100%

.what-page, .how-page

  .title
    text-align center
    font-size 40px
    margin 50px 0

    span
      padding-bottom 10px
      border-bottom 3px solid

  .description
    .mini-title
      font-size 40px
      text-align center

    .item
      margin 40px 0

    .mini-desc
      padding 0 30px

      .mini-desc-content
        display inline-block
        vertical-align middle
        width 49%

        ul
          padding-left 15px

          li
            margin-bottom 10px

      .mini-desc-img
        display inline-block
        width 50%
        vertical-align middle
        text-align center

        img
          width 250px

        &.second
          text-align left
          padding-left 20px

          img
            width 320px

        &.second-mobile
          display none

  @media screen and (max-width: 852px)
    .second
      display none !important

    .description .mini-desc .mini-desc-img.second-mobile
      display block !important

    .description .mini-desc .mini-desc-content,
    .description .mini-desc .mini-desc-img
      width 100% !important

    .mini-desc
      display flex
      flex-direction column-reverse

    .mini-desc-content
      margin-top 15px

.how-page
  .description .item .mini-desc .mini-desc-img
    img
      width 200px

    &.second
      padding-left 90px


.contact-page
  .phone-list
    margin-top 0
    vertical-align top
    display inline-block

  .title
    text-align center
    font-size 40px
    margin 50px 0

    span
      padding-bottom 10px
      border-bottom 3px solid

  .description
    text-align center

    .contact-info, .contact-img
      width 45%
      display inline-block
      vertical-align middle

    .contact-info
      text-align left
      padding-left 50px
      font-size 20px

      ul
        list-style none

    .contact-img
      width 200px

  .contact-street
    margin-top 20px
    img
      width 100%

  @media screen and (max-width: 852px)
    .description
      .contact-info, .contact-img
        width 100%

      .contact-img
        width 200px
