.who-page
  .title
    text-align center
    font-size 40px
    margin 50px 0

    span
      padding-bottom 10px
      border-bottom 3px solid

  .description
    width 55%
    padding-top 20px
    color #80807F

    .text
      text-indent 40px

    .list
      li
        margin 10px 0

  .footer
    max-width 1000px
    margin 0 auto
    background-color #8baf1a
    margin-top 250px
    height 150px

  @media screen and (max-width: 852px)
      .description
        width 100%
